html, body {
  min-width: 990px;
  width: 100%;
  position: relative;
}

body {
    background-position: center top;
    background-repeat: no-repeat;
}

body.about {
    background-image: url(../images/background_about.png);
}

body.index {
    background-image: url(../images/background_index.png);
}

.clrfx {
  clear: both;
}