extends layout

block vars
  - var active = "about"

block content
  .faq-product-main
    img(src="images/faq-gastal-main.png")
  .body-top.body-top-about
    .about-main-product
      img(src="images/about-top-product.png")
    .holder
      .info
        .title
          img(src="images/label-top-index.png")
        ul.green-dot
          li изжоги,
          li боли,
          li тяжести в желудке<sup>1</sup>.
  .about-top
    p БЫСТРО обеспечивает немедленную<sup>1</sup> нейтрализацию соляной кислоты желудочного сока, избавляя от изжоги.
    p НАДОЛГО обеспечивает продолжительное<sup>1</sup> действие, с поддержанием кислотности в желудке на физиологическом уровне, избавляя от боли и тяжести.
  .faq-block.about-block
    .faq-left
      .faq-product-image
        img(src="images/about-product.png")
    .faq-right
      .faq-title инструкция по медицинскому применению
      ul.faq-list
        li.js-faq-question.child-1
          .faq-question Общая информация о препарате
          .faq-answer.js-faq-answer
            p Препарат Гастал® не оказывает системного действия у пациентов с нормальной функцией почек. 
            p После взаимодействия с соляной кислотой желудочного сока алюминия гидроксид реагирует с фосфатами и карбонатами в щелочной среде кишечника и выделяется с калом в виде нерастворимых солей. 
            p Магния гидроксид реагирует с соляной кислотой в желудочном соке с образованием магния хлорида, обладающего осмотическими свойствами и мягкимслабительным действием, которое нейтрализует закрепляющее действие алюминия гидроксида в тонком кишечнике. Ионы магния выделяются с калом в виде нерастворимого карбоната.
        li.js-faq-question.child-2
          .faq-question Фармакокинетика
          .faq-answer.js-faq-answer
            p Препарат Гастал® не оказывает системного действия у пациентов с нормальной функцией почек. 
            p После взаимодействия с соляной кислотой желудочного сока алюминия гидроксид реагирует с фосфатами и карбонатами в щелочной среде кишечника и выделяется с калом в виде нерастворимых солей. 
            p Магния гидроксид реагирует с соляной кислотой в желудочном соке с образованием магния хлорида, обладающего осмотическими свойствами и мягкимслабительным действием, которое нейтрализует закрепляющее действие алюминия гидроксида в тонком кишечнике. Ионы магния выделяются с калом в виде нерастворимого карбоната.
        li.js-faq-question.child-3
          .faq-question Применение
          .faq-answer.js-faq-answer
            p Препарат Гастал® не оказывает системного действия у пациентов с нормальной функцией почек. 
            p После взаимодействия с соляной кислотой желудочного сока алюминия гидроксид реагирует с фосфатами и карбонатами в щелочной среде кишечника и выделяется с калом в виде нерастворимых солей. 
            p Магния гидроксид реагирует с соляной кислотой в желудочном соке с образованием магния хлорида, обладающего осмотическими свойствами и мягкимслабительным действием, которое нейтрализует закрепляющее действие алюминия гидроксида в тонком кишечнике. Ионы магния выделяются с калом в виде нерастворимого карбоната.
        li.js-faq-question.child-4
          .faq-question Особые указания
          .faq-answer.js-faq-answer
            p Препарат Гастал® не оказывает системного действия у пациентов с нормальной функцией почек. 
            p После взаимодействия с соляной кислотой желудочного сока алюминия гидроксид реагирует с фосфатами и карбонатами в щелочной среде кишечника и выделяется с калом в виде нерастворимых солей. 
            p Магния гидроксид реагирует с соляной кислотой в желудочном соке с образованием магния хлорида, обладающего осмотическими свойствами и мягкимслабительным действием, которое нейтрализует закрепляющее действие алюминия гидроксида в тонком кишечнике. Ионы магния выделяются с калом в виде нерастворимого карбоната.
  .body-bottom
    #footer
      .small-text
        p.
          <sup>1</sup> Инструкция по медицинскому применению препарата Гастал®.
          Тяжесть в желудке, боль в желудке и пищеводе — симптомы диспепсических явлений.
          Быстро — немедленно (сразу после приема), надолго — продолжительно (около 2-х часов).
        .shiza Гастал®. Антацидное средство.
        p.
          За дополнительной информацией обращаться:
          Общество с Ограниченной Ответственностью «Тева» Россия, 119049,
          Москва, ул. Шаболовка, д.10, стр.2, бизнес-центр «Конкорд»<br>
          Тел. <a href="tel:+74956442234">+7 495 644-22-34</a>, факс <a href="tel:+74956442235/36">+7 495 644-22-35/36</a>. E-mail: <a href="mailto:info@teva.ru">info@teva.ru</a>, <a href="http://www.teva.ru">www.teva.ru</a>
      .warn
        .holder
          ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ к применению.
          ознакомьтесь<br> с инструкцией или проконсультируйтесь у специалиста.