extends layout

block vars
  - var active = "faq"

block content
  .faq-product-main
    img(src="images/faq-gastal-main.png")
  .body-top.body-top-about
    .about-main-product
      img(src="images/about-top-product.png")
    .holder
      .info
        .title
          img(src="images/label-top-index.png")
        ul.green-dot
          li изжоги,
          li боли,
          li тяжести в желудке<sup>1</sup>.
  .faq-block.faq-page
    .faq-left
      .faq-tip “ В данном разделе  представлены ответы на часто задаваемые вопросы о медицинском препарате Гастал<sup>&reg;</sup> ”
      .faq-product-image
        img(src="images/faq-product.png")
    .faq-right
      .faq-title Часто задаваемые вопросы
      ul.faq-list
        li.js-faq-question
          .faq-question Надо ли разжевывать таблетку Гастала или лучше просто запить ее водой?
          .faq-answer.js-faq-answer
            p Таблетки Гастала<sup>&reg;</sup> не рекомендуется проглатывать целиком и запивать водой.
            p Разжевывать или измельчать их тоже не нужно! Таблетку следует постепенно рассасывать во рту.
        li.js-faq-question
          .faq-question Чем Гастал<sup>&reg;</sup> отличается от обычной соды и подобных средств?
          .faq-answer.js-faq-answer
            p Основное различие заключается в механизме действия Гастала<sup>&reg;</sup>.
            p За счет сбалансированного состава Гастал<sup>&reg;</sup> действует быстро и надолго*, не вызывая повторных приступов изжоги.
            p Магния гидроксид - обеспечивает немедленную нейтрализацию соляной кислоты желудочного сока, избавляя от изжоги, а
            p Алюминия гидроксида-магния карбоната гель – отвечает за продолжительное действие, избавляя от боли и тяжести.
        li.js-faq-question
          .faq-question С какого возраста разрешено применение препарата Гастала<sup>&reg;</sup>?
          .faq-answer.js-faq-answer
            p Применение Гастала<sup>&reg;</sup> возможно у детей с 6 лет.<sup>1</sup>
        li.js-faq-question
          .faq-question Как долго Гастал<sup>&reg;</sup> работает?
          .faq-answer.js-faq-answer
            p Действие Гастала<sup>&reg;</sup> длится около 2 часов.<sup>1</sup>
  .body-bottom
    #footer
      .small-text
        p.
          <sup>1</sup> Инструкция по медицинскому применению препарата Гастал<sup>&reg;</sup>.
          Тяжесть в желудке, боль в желудке и пищеводе — симптомы диспепсических явлений.
          Быстро — немедленно (сразу после приема), надолго — продолжительно (около 2-х часов).
        .shiza Гастал<sup>&reg;</sup>. Антацидное средство.
        p.
          За дополнительной информацией обращаться:
          Общество с ограниченной ответственностью «Тева»  Россия, 115054, 
          город Москва, улица Валовая, дом 35<br>
          Тел. <a href="tel:+74956442234">+7 495 644-22-34</a>, факс <a href="tel:+74956442235">+7 495 644-22-35/36</a>. E-mail: <a href="mailto:info@teva.ru">info@teva.ru</a>, <a href="http://www.teva.ru">www.teva.ru</a>
      .warn
        .holder
          ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ к применению.
          ознакомьтесь<br> с инструкцией или проконсультируйтесь у специалиста.